/* .row {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}

.mr-1 {
    margin-right: 3%;
}

.mr-2 {
    margin-right: 5%;
}
 */

/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-align: center;
}
 
main {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
} */